@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8vcbrz');
  src:  url('../fonts/icomoon.eot?8vcbrz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8vcbrz') format('truetype'),
    url('../fonts/icomoon.woff?8vcbrz') format('woff'),
    url('../fonts/icomoon.svg?8vcbrz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next-arrow:before {
  content: "\e907";
}
.icon-profile:before {
  content: "\e900";
}
.icon-filter:before {
  content: "\e901";
}
.icon-eye:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e903";
}
.icon-cross:before {
  content: "\e904";
}
.icon-down-fill-arrow:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e906";
}
