* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: $fnt1;
    height: 100%;
    margin: 0;
    overflow: hidden;
    /* Prevent page scroll */
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}



input,
select,
button {
    border: none;
    box-shadow: none;
    background: none;
    appearance: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Preloader full-screen overlay */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff; /* or any background color */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinner animation */
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #0B5AA5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}





@media (max-width:$tablet-breakpoint) {}


@media (max-width:$mobile-breakpoint) {}