.bs-flex-box {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    grid-gap: 24px;

    .leftBox {
        flex: 1;
        height: 100vh;
        overflow: hidden;
    }

    .rightBox {
        width: 100%;
        max-width: 706px;
        height: calc(100vh - 151px);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 24px 0;
        scrollbar-width: none; /* Firefox */


        .title {
            font-size: 18px;
            font-weight: 600;
            line-height: 1;
            color: #000000;
            margin-bottom: 4px;
        }

        .count {
            font-size: 14px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.4);
            line-height: 1;
        }

        .sortingBox {
            display: flex;
            align-items: center;
            grid-gap: 10px;
            

            .sortby {
                font-size: 14px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.4);
                line-height: 1;
            }

            .sorting-select {
                position: relative;
                padding-right: 26px;

                &::after {
                    content: "\e905";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 16px;
                    font-family: "icomoon";
                    font-size: 11px;
                    pointer-events: none;
                    color: #0B5AA5;
                }

                .select-field {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #0B5AA5;
                    padding: 10px;
                }
            }
        }

        .bs-grid-box{
            // height: 2000px;
        }

        &::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari */
        }
    }
}

@media (max-width:1025px) {
    .bs-flex-box {
        justify-content: center;

        .leftBox {
            display: none;
        }

        .rightBox {
            width: 100%;
            max-width: 706px;
            height: calc(100vh - 216px);
            overflow-y: auto;
            overflow-x: hidden;
            padding: 24px 0;


            .title {}

            .count {}

            .sortingBox {

                .sortby {}

                .sorting-select {


                    &::after {}

                    .select-field {}
                }
            }
        }
    }
}


@media (max-width:$mobile-breakpoint) {}