.bs-filter-box-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    grid-gap: 16px;
    padding: 16px 0;

    .search-box {
        background: linear-gradient(90deg, #2876C1 0%, #0E5293 100%);
        padding: 2px;
        border-radius: 500px;

        .search-box-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #FFFFFF;
            padding: 6px 8px;
            border-radius: 100px;
            transition: ease .5s all;

            &:hover{
                background: #f3f7fa;
            }

            input {
                padding: 2px 16px;
                width: 100%;
            }

            .button-wrapper {
                display: flex;
                align-items: center;
                grid-gap: 18px;


                .clear-icon {
                    .icon {
                        &::before {
                            font-size: 11px;
                            color: rgba(0, 0, 0, 0.3);
                        }
                    }
                }
            }
        }
    }

    .filter-box-icon-mob {
        display: none;
    }

    .for-sell-box {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        background: #FFFFFF;
        transition: ease .5s all;
        position: relative;

        &::after {
            content: "\e905";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            font-family: "icomoon";
            font-size: 11px;
            pointer-events: none;
        }

        select {
            padding: 12.5px 16px;
            min-width: 152px;
            font-size: 14px;
            font-weight: 600;

            option {
                color: rgba(0, 0, 0, 1);
            }
        }

        &:hover {
            border: 1px solid rgba(11, 90, 165, 1);
            background: rgba(243, 247, 250, 1);

            select {
                option {
                    color: #0B5AA5;
                }
            }
        }
    }

    .filter-box {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        transition: ease .5s all;

        button {
            padding: 12.5px 16px;
            font-size: 14px;
            font-weight: 600;
            transition: ease .5s all;

            .icon {
                margin-right: 12px;

                &::before {
                    font-size: 16px;
                }
            }
        }

        &:hover {
            border: 1px solid rgba(11, 90, 165, 1);
            background: rgba(243, 247, 250, 1);

            button {
                color: #0B5AA5;
            }
        }
    }

    .saved-box {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        transition: ease .5s all;

        button {
            padding: 12.5px 16px;
            font-size: 14px;
            font-weight: 600;
            transition: ease .5s all;

            .icon {
                margin-right: 12px;

                &::before {
                    font-size: 16px;
                }
            }
        }

        &:hover {
            border: 1px solid rgba(11, 90, 165, 1);
            background: rgba(243, 247, 250, 1);

            button {
                color: #0B5AA5;
            }
        }
    }
}

@media (max-width: 1400px) and (min-width: 1280px) {
    .bs-filter-box-wrapper {
        flex-wrap: wrap;
    }
}

@media (max-width:1025px) {
    .bs-filter-box-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;

        .search-box {
            max-width: 600px;
            width: 100%;

            .search-box-wrapper {


                input {}

                .button-wrapper {
                    .clear-icon {
                        .icon {
                            &::before {}
                        }
                    }
                }
            }
        }

        .for-sell-box {

            &.typ-property-box {
                display: none;
            }

            &.typ-bed-box {
                display: none;
            }

            &.for-sell-box-main {
                flex-grow: 2;

                select {
                    max-width: 96px;
                    min-width: 96px;
                    font-size: 12px;
                }

            }

            &.typ-price-box {
                flex-grow: 2;

                select {
                    max-width: 96px;
                    min-width: auto;
                    font-size: 12px;
                }

            }


            &::after {}

            select {


                option {}
            }

            &:hover {


                select {
                    option {}
                }
            }
        }

        .filter-box-icon-mob {
            display: block;
            position: relative;

            .number {
                position: absolute;
                width: 12px;
                height: 12px;
                top: 0;
                right: 0;
                background: #0B5AA5;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 8px;
                font-weight: 500;
                line-height: 1;
                color: #FFFFFF;
            }
        }

        .filter-box {
            display: none;

            button {


                .icon {

                    &::before {}
                }
            }

            &:hover {
                button {}
            }
        }

        .saved-box {
            border: none;


            button {
                background: #0B5AA5;
                border-radius: 500px;
                color: #FFFFFF;
                min-width: 104px;

                .icon {
                    display: none;

                    &::before {}
                }
            }

            &:hover {

                button {}
            }
        }
    }
}

@media (max-width:$mobile-breakpoint) {

    .bs-filter-box-wrapper {
        flex-wrap: wrap;

        .search-box {
            max-width: 304px;

            .search-box-wrapper {


                input {}

                .button-wrapper {
                    .clear-icon {
                        .icon {
                            &::before {}
                        }
                    }
                }
            }
        }

        .filter-box-icon-mob {
            display: block;
            position: relative;

            .number {
                position: absolute;
                width: 12px;
                height: 12px;
                top: 0;
                right: 0;
                background: #0B5AA5;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 8px;
                font-weight: 500;
                line-height: 1;
                color: #FFFFFF;
            }
        }



        .for-sell-box {

            &.typ-property-box {
                display: none;
            }

            &.typ-bed-box {
                display: none;
            }

            &.for-sell-box-main {
                select {
                    max-width: 96px;
                    min-width: 96px;
                    font-size: 12px;
                }

            }

            &.typ-price-box {
                flex-grow: 1;

                select {
                    max-width: 96px;
                    min-width: auto;
                    font-size: 12px;
                }

            }

            &::after {}

            select {


                option {}
            }

            &:hover {


                select {
                    option {}
                }
            }
        }

        .filter-box {
            display: none;

            button {


                .icon {

                    &::before {}
                }
            }

            &:hover {
                button {}
            }
        }

        .saved-box {
            border: none;


            button {
                background: #0B5AA5;
                border-radius: 500px;
                color: #FFFFFF;
                min-width: 104px;

                .icon {
                    display: none;

                    &::before {}
                }
            }

            &:hover {

                button {}
            }
        }
    }
}

@media (max-width: 389px) and (min-width: 360px) {
    .bs-filter-box-wrapper {
        grid-gap: 6px;

        .search-box {
            max-width: 284px;

            .search-box-wrapper {


                input {}

                .button-wrapper {
                    .clear-icon {
                        .icon {
                            &::before {}
                        }
                    }
                }
            }
        }

        .for-sell-box {


            &::after {}

            select {


                option {}
            }

            &:hover {


                select {
                    option {}
                }
            }
        }

        .filter-box {


            button {


                .icon {

                    &::before {}
                }
            }

            &:hover {
                button {}
            }
        }

        .saved-box {

            button {


                .icon {

                    &::before {}
                }
            }

            &:hover {

                button {}
            }
        }
    }
}