<div class="bs-header">
  <nav class="navbar navbar-expand-xxl fixed-top" id="header">
    <div class="container">

      <!-- Desktop Logo -->
      <a class="navbar-brand d-xxl-block d-none" href="index.php">
        <img class="img-fluid" src="assets/images/logo.png" alt="logo">
      </a>

      <!-- Mobile Toggle Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="icon icon-menu"></span>
      </button>

      <!-- Mobile Logo -->
      <a class="navbar-brand d-xxl-none d-block" href="index.php">
        <img class="img-fluid" src="assets/images/logo.png" alt="logo">
      </a>

      <!-- Offcanvas Menu -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            <a class="navbar-brand" href="index.php">
              <img class="img-fluid" src="assets/images/logo.png" alt="logo">
            </a>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1">

            <!-- Product Dropdown -->
            <li class="nav-item dropdown custom-dropdown">
              <button class="d-flex align-items-center justify-content-between w-100"
                data-bs-toggle="dropdown" aria-expanded="false" type="button">
                <span class="nav-link">Product</span>
                <span class="dropdown-toggle dropdown-toggle-split caretbtn" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu customTop">
                <li><a class="dropdown-item" href="#">Marketing Automation</a></li>
                <li><a class="dropdown-item" href="#">Email Campaigns</a></li>
                <li><a class="dropdown-item" href="#">Analytics Dashboard</a></li>
                <li><a class="dropdown-item" href="#">Customer CRM</a></li>
                <li><a class="dropdown-item" href="#">AI Chatbot</a></li>
                <li><a class="dropdown-item" href="#">Lead Management</a></li>
              </ul>
            </li>


            <!-- Other Menu Items -->
            <li class="nav-item"><a class="nav-link" href="#">How Houzeo Works</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Reviews</a></li>

            <!-- Buy Dropdown -->
            <li class="nav-item dropdown custom-dropdown">
              <button class="d-flex align-items-center justify-content-between w-100 bg-transparent"
                data-bs-toggle="dropdown" aria-expanded="false" type="button">
                <span class="nav-link">Buy</span>
                <span class="dropdown-toggle dropdown-toggle-split caretbtn" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu customTop">
                <li><a class="dropdown-item" href="#">Apartments</a></li>
                <li><a class="dropdown-item" href="#">Independent Houses</a></li>
                <li><a class="dropdown-item" href="#">Villas</a></li>
                <li><a class="dropdown-item" href="#">Residential Plots</a></li>
                <li><a class="dropdown-item" href="#">Studio Apartments</a></li>
                <li><a class="dropdown-item" href="#">Luxury Properties</a></li>
                <li><a class="dropdown-item" href="#">New Projects</a></li>
              </ul>
            </li>


            <!-- Sell Dropdown -->
            <li class="nav-item dropdown custom-dropdown">
              <button class=" d-flex align-items-center justify-content-between w-100 bg-transparent"
                data-bs-toggle="dropdown" aria-expanded="false" type="button">
                <span class="nav-link">Sell</span>
                <span class="dropdown-toggle dropdown-toggle-split caretbtn" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu customTop">
                <li><a class="dropdown-item" href="#">List Your Property</a></li>
                <li><a class="dropdown-item" href="#">Seller Plans & Pricing</a></li>
                <li><a class="dropdown-item" href="#">Post a Free Ad</a></li>
                <li><a class="dropdown-item" href="#">Sell Commercial Property</a></li>
                <li><a class="dropdown-item" href="#">Agent Services</a></li>
                <li><a class="dropdown-item" href="#">Home Valuation</a></li>
                <li><a class="dropdown-item" href="#">Seller FAQs</a></li>
              </ul>
            </li>


            <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>

            <!-- Resources Dropdown -->
            <li class="nav-item dropdown custom-dropdown">
              <button class="d-flex align-items-center justify-content-between w-100 border-0 bg-transparent"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="nav-link">Resources</span>
                <span class="dropdown-toggle dropdown-toggle-split caretbtn" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu customTop">
                <li><a class="dropdown-item" href="#">Blog</a></li>
                <li><a class="dropdown-item" href="#">Guides & Tutorials</a></li>
                <li><a class="dropdown-item" href="#">Market Insights</a></li>
                <li><a class="dropdown-item" href="#">Help Center</a></li>
                <li><a class="dropdown-item" href="#">FAQs</a></li>
                <li><a class="dropdown-item" href="#">Contact Support</a></li>
              </ul>
            </li>



            <li class="nav-item"><a class="nav-link" href="#">Sign In</a></li>
          </ul>

          <!-- Contact Info -->
          <div class="information">
            <a href="tel:(844)4480110">(844) 448-0110</a>
            <div class="time">(9am to 6pm CST, Mon-Sat)</div>
          </div>

          <!-- CTA Button -->
          <div class="btn-section">
            <a class="bs-btn" href="#">Start Free Listing</a>
          </div>
        </div>
      </div>

      <!-- Profile Icon -->
      <div class="profile">
        <span class="icon icon-profile"></span>
      </div>

    </div>
  </nav>
</div>